<div class="container">
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Stravify", dashboard_path, id: "logo" %>
      <span class = "navbar-right logout">
        <%= link_to "Logout", logout_path %>
      </span>
    </div>
  </header>
  <body>
  <div="container">
    <div class="col-md-6 col-md-offset-1 bike-chart">
      <h4 class="bike_label"><strong>Bikes</strong></h4>
      <svg id="bikedata"></svg>
      <table class="table table-bordered table-striped table-condensed table-responsive bike-data">
        <th>Bike Name</th>
        <th>Distance (km)</th>
        <% @bikes.each do |bike| %>
          <tr>
            <td><%= bike["name"] %></td>
            <td><%= (bike["distance"]/1000).round(0) %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-3 col-md-offset-1 user-box">
      <div class="user-part">
        <h4><strong>User Profile</strong></h4>
        <%= image_tag current_user.profile, class: "sad-scott img-responsive img-circle center-block" %>
        <p> <%= "#{current_user.first_name} #{current_user.last_name}"%> </p>
        <p> <%= "#{current_user.city}, #{current_user.state} " %></p>
        <p> <%= "#{current_user.country}" %></p>
        <p> <%= "Strava Member Since: #{@member_since}" %></p>
      </div>
      <div class="ftp-part text-center">
        <%= @ftp %>
      </div>
      <div class="ftp-label text-center">
        <h4><strong>FTP</strong></h4>
      </div>
      <div class="club-part">
        <h4><strong>Clubs</strong></h4>
        <div class="indiv-club">
          <% @clubs.each do |club| %>
            <%= image_tag club["profile"], class: "image-responsive center-block img-circle club-image"%>
            <div class="text-center club-name"><%= club["name"] %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1 activity-data">
      <h2>ACTIVITIES</h2>
      <table class="table table-bordered table-striped table-condensed table-responsive activity-table">
        <th>Date</th>
        <th>Name</th>
        <th>Elapsed Time</th>
        <th>Elevation Gain</th>
        <th>Distance</th>
        <% @activities.each do |activity| %>
          <tr>
            <td><%= activity.date %></td>
            <td><%= activity.name %></td>
            <td><%= activity.elapsed_time %></td>
            <td><%= activity.total_elevation_gain %></td>
            <td><%= activity.distance %></td>
          </tr>
        <% end %>
      </table>
      <p>Total Activities: <%= @activities.count %></p>
    </div>
  </div>
</div>
</body>
