<div class="container">
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Stravify", "#", id: "logo" %>
    </div>
  </header>
  <body>
  <div="container">
    <div="row">
      <div class="col-md-6 col-md-offset-1 bike-data image-rounded">
        <svg id="bikedata"></svg>
        <p>Bikes</p>
        <table class="table table-bordered table-striped table-condensed table-responsive">
          <th>Bike Name</th>
          <th>Distance (meters)</th>
          <% @bikes.each do |bike| %>
            <tr>
              <td><%= bike["name"] %></td>
              <td><%= bike["distance"] %></td>
            </tr>
          <% end %>
        </table>
        <p>Clubs</p>
        <table class="table table-bordered table-striped table-condensed table-responsive">
          <th></th>
          <th>Club Name</th>
          <% @clubs.each do |club| %>
            <tr>
              <td><%= image_tag club["profile"], class: "image-responsive center-block"%></td>
              <td><%= club["name"] %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="col-md-3 col-md-offset-1 user-box">
        User Profile
        <%= image_tag current_user.profile, class: "sad-scott img-responsive img-circle center-block" %>
        <p> <%= "#{current_user.first_name} #{current_user.last_name}"%> </p>
        <p> <%= "#{current_user.city}, #{current_user.state} " %></p>
        <p> <%= "#{current_user.country}" %></p>
        <p> <%= "FTP: #{@ftp}" %></p>
        <p> <%= "Member Since: #{@member_since}" %></p>
      </div>
    </div>
  </div>
  </body>
</div>
