<!DOCTYPE html>
<html>
<head>
<title>Stravify</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div class="footer">
   <small class="credits">
    <%= link_to "Strava", root_path %> brought to you by
    <%= link_to "Michael Dao", "http://ploos.io" %>
  </small>
  <nav class ="navbar-right">
    <ul>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><%= link_to "News", "http://ploos.io" %></li>
    </ul>
  </nav>
</div>

</body>
</html>
